.experience {
  background: url('../../assets/images/bg/slope.svg') no-repeat bottom;
  background-size: 100%;

  &__body {
    align-items: flex-end;
    display: flex;
    gap: 175px;
  }

  &__picture {
    position: relative;

    &::before {
      background: url('../../assets/images/bg/semicircle.svg') no-repeat;
      bottom: 0;
      content: '';
      height: 372px;
      left: -80px;
      position: absolute;
      width: 743px;
    }
  }

  &__image {
    position: relative;
    z-index: 1;
  }

  &__content {
    color: $white;
    padding-bottom: 55px;
    width: 360px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__button {
    margin-top: 30px;
    padding-left: 42px;
    padding-right: 39px;
  }
}
