.page {
  &__intro {
    margin-bottom: 100px;
  }

  &__partners {
    margin-bottom: 91px;
  }

  &__provide {
    margin-bottom: 154px;
  }

  &__using {
    margin-bottom: 144px;
  }

  &__serve {
    margin-bottom: 113px;
  }

  &__choose {
    margin-bottom: 110px;
  }

  &__words {
    margin-bottom: 40px;
  }
}
