.header {
  &__body {
    align-items: center;
    display: flex;
    justify-content: space-between;
    letter-spacing: normal;
    padding-bottom: 33px;
    padding-top: 37px;
    position: relative;
  }

  &__checkbox {
    display: none;
  }

  &__toggler {
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 26px;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    right: 10px;
    top: 29px;
    width: 33px;
    z-index: 999;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__line {
    background-color: $black;
    border-radius: 10px;
    display: block;
    height: 4px;
    width: 100%;

    &--1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;

      .header__checkbox:checked ~ .header__toggler & {
        transform: rotate(45deg);
      }
    }

    &--2 {
      transition: transform 0.2s ease-in-out;

      .header__checkbox:checked ~ .header__toggler & {
        transform: scaleY(0);
      }
    }

    &--3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;

      .header__checkbox:checked ~ .header__toggler & {
        transform: rotate(-45deg);
      }
    }
  }

  &__nav {
    display: none;

    @media (max-width: 767px) {
      .header__checkbox:checked ~ & {
        align-items: center;
        background-color: $white;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 60px 30px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
      }
    }

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__list {
    @include list-unstyled;

    @media (min-width: 768px) {
      display: flex;
      gap: 25px;
    }

    @media (min-width: 992px) {
      gap: 42px;
    }
  }

  &__item {
    & + & {
      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }

  &__link {
    display: block;
    text-align: center;

    &:hover {
      transform: scale(1.05);
    }

    &--active {
      color: $orange;
      transform: scale(1.05);
    }

    @media (min-width: 768px) {
      text-align: initial;
    }
  }
}
