.button {
  background-color: #fff;
  color: $black;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: normal;
  padding: 17px 37px;
  text-align: center;
  transition: background-color 200ms ease;

  &:hover {
    background-color: $orange;
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 15px $orange;
    outline: none;
  }

  &--accented {
    background-color: $orange;
    color: #fff;

    &:hover {
      background-color: $orange-dark;
    }
  }
}
